{%extends 'base.html'%}
{%block body%}
<div id="content">
<h1><u>Current</u></h1>
<div class="content" >
  <div align="left">
<h2>The Mentor</h2>
<h3>Chetanya Shrimali</h3>
</div>
</div>
<div class="content" align="center">
  <div align="center">
<h2>Secretary</h2>
<h3>Priyanshu Verma</h3>
</div>
</div>
<div class="content" align="right">
  <div align="right">
<h2>Joint-Secretary</h2>
<h3>Vashist Hegde</h3>
</div>
</div>
</div>


<div id="content">
<h1><u>Past</u></h1>
<div class="content" align="left">
  <div align="left">
<h2>The Mentor</h2>
<h3>Harshit Purohit</h3>
</div>
</div>
<div class="content" align="center">
  <div align="center">
<h2>Secretary</h2>
<h3>Vaibhav Bhadauria</h3>
</div>
</div>
<div class="content" align="right">
<div align="left">
<h2>Joint-Secretary</h2>
<h3>Pratiti Jain</h3>
</div>
</div>
</div>
{%endblock%}
